*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1B4332;
}

:root{
    --branco1: #D8F3DC;
    --branco2: #B7E4C7;
    --verde1: #95D5B2;
    --verde2: #74C69D;
    --verde3: #52B788;
    --verde4: #40916C;
    --verde5: #2D6A4F;
    --verde6: #1B4332;
    --verde7: #081C15;
}

.box {
    display: flex ;
    flex-direction: column;
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    border-top: 1px solid #74C69D;
    border-left: 1px solid #74C69D;
    border-right: 1px solid #52B788;
    border-bottom: 1px solid #52B788;
    box-shadow: 10px 10px 15px #0d0e0d, -10px -10px 15px #52B788;
}

.box label {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--branco1);
    letter-spacing: 1px;
    display: block;
}

.box input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 16px;
}

.box button {
    justify-self: center;
    padding: 16px;
    border-radius: 5px;
    transition-duration: 150ms;
    background-color: var(--branco2);
}


.box button:hover {
    transition-duration: 150ms;
    background-color: var(--verde5);
}
.box h3 {
    text-align: center;
    padding-top: 16px;
    color: var(--verde2);
}